body {
  font: 20px/1.3 Arial,Helvetica,sans-serif;
  padding:0;
  margin:0;
  background-color:#FFFFFF;
}

.headerSec{width: 100%;max width:500px;}
#logo{
  float:left;
  width:10%;
  padding:10px;
  margin-top:-30px;
}

/*Global */
.container{
  width: 80%;
  margin:auto;
  overflow:hidden;
}

ul{
  margin:0
  padding:0
}

#sidebar.dark {
  padding:15px;

  color:#0065ff;
  margin-top:10px;
  margin-botton:10px;
 }

/* Header **/
header{
  background:#161616;
  color: #ffffff;
  padding-top:30px;
  min-height:70px;
  border-top:#0000ff 3px solid;
  border-bottom:#0000ff 3px solid;
}

header a{
  color:#ffffff;
  text-decoration:none;
  text-transform: uppercase;
  font-size:16px;
}

header li{
  float:left;
  display:inline;
  padding:0 20px 0 20px;
}

header #branding{
  float:left;
}

header #branding h1{
  margin:0;
}

header nav{
  float:right;
  margin-top:10px
}

header .hightlight, header .current a{
  color:#0059FF;
  font-weight:bold;
}

header a:hover{
  color:#cccccc;
  font-weight:bold;
}

/* Showcase */
#showcase{
  min-height:500px;
  background:url("../img/background.jpg") no-repeat 0 -100px;
  text-align:center;
  color: #ffffff;

}

#showcase h1{
  margin-top:140px;
  font-size:85px;
  margin-bottom:10px;
  font-family: 'Ropa Sans';
    text-align:center;
    color: #ff0000;
}
.button {
  background-color: #0087ff;
  border: #0087ff;
  color: #ffffff;
  padding: 12px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 4px;
  -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    }
.button{border-radius: 10px;}
.button:hover {background-color: #ffffff}
  .button:hover {color:#0087ff}




#showcase p{
  font-size:25px;
  color: #fffa00

}

#newsletter{
  background:#161616;
  color: #ffffff;
  padding-top:30px;
  min-height:70px;
  border-top:#0000ff 3px solid;
  border-bottom:#0000ff 3px solid;
    font-size:15px;
}

#newsletter h2{
  float:left;
  font-family: 'Ropa Sans';
  margin-top:7px;
  font-size:30px;
}

#newsletter form {
  float:right;
  margin-top:15px;
}



/*Boxex */
#boxes{
  margin-top:20px;
}

#boxes .box{
  float:left;
  text-align:center;
  width:30%;
  padding:20px;
  background-repeat: no-repeat;

}

#more{
  padding-top:5px;
  min-height:-30px;
  width:40%;
  display:block;
  margin:auto;
}

/*Sidebar */
aside#sidebar{
  float:right;
  width:30%;
  margin-top:10px;
}

/* Main-col */
article#main-col{
  float:left;
  width:65%;
}
/* Main-col1 */
article#main-col1{
text-align:center;
container-align:center
  width:65%;
}


footer{
  padding:20px;
  margin-top:20px;
  color:#ffffff;
  background-color:#4498ff;
  text-align:center;
}

/* Media Queries */
@media screen and (max-width:580px){
    nav ul li{
    box-sizing:border-box;
    width:30%;
    padding:15px;
    text-align:right;
  }
  #more{
    width:250px;
    text-align:center;
  }

#boxes{
   width:100%;
   display: inline;
  vertical-align: top;
  float: none;
   padding:20px;
   }

}
